---
import { Icon } from 'astro-icon'
import ThemeToggle from './ThemeToggle.astro'
---

<header>
    <a href="/">
        <Icon name="logomark" size={32} />
        Docs.
    </a>

    <section>
        <ThemeToggle />
        <a
            href="https://twitter.com/astrodotbuild"
            aria-label="Find us on Twitter"
        >
            <Icon name="twitter" size={20} />
        </a>
        <a
            href="https://github.com/withastro"
            aria-label="Find us on GitHub"
        >
            <Icon name="github" size={20} />
        </a>
    </section>
</header>

<style>
    header {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        background: white;
        padding-inline: 12px;
        filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    }
    a {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: inherit;
        font-size: 20px;
        height: 48px;
    }
    a :global(svg) {
        margin-block-end: -2px;
        margin-inline-start: -5px;
    }
    section {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;
    }
</style>