---
import NavigationList from './NavigationList.astro'
import type { Props as NavProps } from './NavigationList.astro'
import type { Entry, HTMLAttributes } from './utils.js'

export interface Props extends Entry, Omit<HTMLAttributes, 'title'> {
  as?: string
  showExcerpt?: boolean
  disableCurrent?: boolean
  listAttrs: Omit<NavProps, 'entries'>
}

const { as: Component = 'li', title, url, children = [], showExcerpt, disableCurrent = false, listAttrs, ...attrs } = Astro.props

const current = url === Astro.url.pathname
---

<Component {...attrs}>
  {current && disableCurrent ? (
    <span aria-current="page">{title}</span>
  ) : (
    <a href={url} aria-current={current ? 'page' : undefined}>{title}</a> 
  )}
  {children.length > 0 && <NavigationList entries={children} {...listAttrs} />}
</Component>
